@import "tailwindcss";

:root {
  --background: hsl(0, 0%, 99%);
  --foreground: hsl(200, 15%, 8%);
  --element: hsl(0, 100%, 100%);
  --input: hsl(0, 0%, 50%);
}
.dark {
  --background: hsl(207, 26%, 17%);
  --foreground: hsl(0, 100%, 100%);
  --element: hsl(209, 23%, 22%);
  --input: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito-sans), sans-serif;
  transition:
    background-color 300ms ease,
    color 300ms ease;
}
